.HomePageBox {
  width: 1000px;
  background-color: blueviolet;
  margin: 40px 110px;
  border-radius: 20px;
  box-shadow: 16px -1px 16px 3px rgba(0, 0, 0, 0.65);
  padding: 20px;
  color: aliceblue;
}
